<!DOCTYPE html>
<html>
    <head>
    <!-- 탭 아이콘 -->
        <link rel="shortcut icon" href="../img/1f951.svg" />
    <!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
    <!-- 타이틀 -->
        <title>Nutrition_4</title>
    <!-- CSS 참조 -->
        <link rel="stylesheet" href="../../static/style.css" />
        <!-- 폰트 -->
            <link
                href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
                rel="stylesheet"/>
        <!-- 탭 스크립트 -->
            <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- 차트 스크립트 -->
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-ligth">
            <!-- Navbar content -->
            <div class="container-fluid">
                <ol class="mt-2 breadcrumb">
                    &nbsp;&nbsp;&nbsp;
                    <li class="breadcrumb-item">
                        <button type="button" class="btn btn-secondary btn-sm"><a href="/use" style="color: #ffffff">::WI-ME:: 사용방법</a></button>
                    </li>
                    <li class="breadcrumb-item">
                        <button type="button" class="btn btn-secondary btn-sm"><a href="/kakao" style="color: #ffffff">음식사진입력</a></button>
                    </li>
                    <li class="breadcrumb-item">
                        <button type="button" class="btn btn-secondary btn-sm"><a href="#" style="color: #ffffff">히스토리</a></button>
                    </li>
                    <li class="breadcrumb-item">
                        <button type="button" class="btn btn-secondary btn-sm">
                            <a href="javascript:history.back()" style="color: #ffffff">
                                <img src="../img/arrow-left.svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                뒤로가기
                            </a>
                        </button>
                    </li>
                </ol>
                <button type="button" class="btn btn-secondary btn-sm">
                    <a href="https://github.com/rlarkdtks312/nutrition_4_team" style="color: #ffffff">
                        영양4조의 GITHUB
                    </a>
                </button>
            </div>
        </nav>
        <center>
            <!-- history content .section -->
            <section class="section">
                <div class="container main-container">
                    <h2 class="title">:: WI-ME ::</h2>
                    <h5 class="subtitle">개인 맞춤형 식단 필터링 성별/나이정보 동기화기반 서비스</h5>
                </div>
            </section><br>
            <!-- history content .section2 -->
            <section class="section2">
                <!-- tab container -->
                <div class="container">
                    <!-- tab menu -->
                    <ul class="tabs">
                        <li class="tab-link current" data-tab="tab-1">일일 영양소 섭취량</li>
                        <li class="tab-link" data-tab="tab-2">질병별 주의할 성분</li>
                    </ul>
                    <!-- tab context -->
                    <div id="tab-1" class="tab-content current">
                        <canvas id="histogram"></canvas>
                        <p>기준선: 100%</p>
                    </div>
                    <div id="tab-2" class="tab-content">
                        <div>
                            <canvas id="histogram2">
                        </div>
                        <div>
                            <canvas id="histogram3">
                        </div>
                        <div>
                            <canvas id="histogram4">
                        </div>
                        <div>
                            <canvas id="histogram5">
                        </div>
                        <div>
                            <canvas id="histogram6">
                        </div>
                    </div>
                </div>
            </section>
        </center>
        <!-- scripts -->
            <!-- tab script -->
        <script language="javascript" type="text/javascript">
            $(document).ready(function(){
                $('ul.tabs li').click(function(){
                    var tab_id = $(this).attr('data-tab');
                    $('ul.tabs li').removeClass('current');
                    $('.tab-content').removeClass('current');
                    $(this).addClass('current');
                    $("#"+tab_id).addClass('current');
                })
            })
        </script>
        <!-- graph script -->
        <script type='text/javascript'>
            let ctx = document.getElementById('histogram');
            Chart.pluginService.register({
                afterDraw: function(chart) {
                    if (typeof chart.config.options.lineAt != 'undefined') {
                       var lineAt = chart.config.options.lineAt;
                        var ctxPlugin = chart.chart.ctx;
                        var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
                        var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];
                        if(yAxe.min != 0) return;
                        ctxPlugin.strokeStyle = "red";
                        ctxPlugin.beginPath();
                        lineAt = (lineAt - yAxe.min) * (100 / yAxe.max);
                        lineAt = (100 - lineAt) / 100 * (yAxe.height) + yAxe.top;
                        ctxPlugin.moveTo(xAxe.left, lineAt);
                        ctxPlugin.lineTo(xAxe.right, lineAt);
                        ctxPlugin.stroke();
                    }
                }
            });
            const chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: ['에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)', '칼슘(mg)',
                                '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)', '아연(mg)'],
                    datasets: [
                    {
                        label: '영양소 섭취량(%)',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{nutri_list}}
                    }]
                },
                // Configuration options go here
                options: {
                    lineAt: 100,
                    responsive: true,
                    title: { 
                        display: true, 
                        text: '일일 영양소 섭취량', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    }
                } 
            });
        </script>
        <script>
            const ctx2 = document.getElementById('histogram2');
            const chart2 = new Chart(ctx2, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: {{ nutri_name_list[0] | safe }},
                    datasets: [
                    { 
                        label: '영양소 섭취량(%)',
                        type: 'bar',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{having_list[0]  | safe }}
                    }]
                    }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    title: { 
                        display: true, 
                        text: '{{disease_list[0]}}',
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15 
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    } 
                } 
            });
        </script>
        <script>
            const ctx3 = document.getElementById('histogram3');
            const chart3 = new Chart(ctx3, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: {{ nutri_name_list[1] | safe }},
                    datasets: [
                    { 
                        label: '영양소 섭취량(%)',
                        type: 'bar',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{having_list[1]  | safe }}
                    }]
                    }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    title: { 
                        display: true, 
                        text: '{{disease_list[1]}}', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15 
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    } 
                } 
            });
        </script>
        <script>
            const ctx4 = document.getElementById('histogram4');
            const chart4 = new Chart(ctx4, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: {{ nutri_name_list[2] | safe }},
                    datasets: [
                    { 
                        label: '영양소 섭취량(%)',
                        type: 'bar',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{having_list[2]  | safe }}
                    }]
                    }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    title: { 
                        display: true, 
                        text: '{{disease_list[2]}}', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15 
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    } 
                } 
            });
        </script>
        <script>
            const ctx5 = document.getElementById('histogram5');
            const chart5 = new Chart(ctx5, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: {{ nutri_name_list[3] | safe }},
                    datasets: [
                    { 
                        label: '영양소 섭취량(%)',
                        type: 'bar',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{having_list[3]  | safe }}
                    }]
                    }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    title: { 
                        display: true, 
                        text: '{{disease_list[3]}}', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15 
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    } 
                } 
            });
        </script>
        <script>
            const ctx6 = document.getElementById('histogram6');
            const chart6 = new Chart(ctx6, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: {{ nutri_name_list[4] | safe }},
                    datasets: [
                    { 
                        label: '영양소 섭취량(%)',
                        type: 'bar',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{having_list[4] | safe }}
                    }]
                    }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    title: { 
                        display: true, 
                        text: '{{disease_list[4]}}', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15 
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    } 
                } 
            });
        </script>
    </body>
</html>