<!DOCTYPE html>
<html>
    <head>
    <!-- 탭 아이콘 -->
        <link rel="shortcut icon" href="../img/1f951.svg" />
    <!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
    <!-- 타이틀 -->
        <title>Nutrition_4</title>
    <!-- CSS 참조 -->
        <link rel="stylesheet" href="../../static/style.css" />
    <!-- 폰트 -->
        <link
            href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
            rel="stylesheet"/>
    <!-- 탭 스크립트 -->
        <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!-- 차트 스크립트 -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-ligth" style="background-color: #fcd6f9ec;">
            <!-- Navbar content -->
            <ol class="breadcrumb">
                &nbsp;&nbsp;&nbsp; <img src="../img/1f951.svg" width="25" height="25"/> &nbsp;&nbsp;
                <li class="breadcrumb-item"><a href="/" style="color: #000000">로그인 화면</a></li>
                <li class="breadcrumb-item"><a href="/kakao" style="color: #000000">음식 사진 다시 올리기</a></li>
                <li class="breadcrumb-item"><a href="/his" style="color: #000000">지금까지 내 음식 섭취 역사 보기</a></li>
            </ol>
        </nav>
        

        <center>
            <!-- print content .section -->
            <section class="section">
                <div class="container main-container">
                    <h2 class="title">개인 맞춤형 식단 필터링</h2>
                    <h5 class="subtitle">성별/나이정보 동기화기반 서비스</h5>
                </div>
            </section><br>

            <!-- predict image output -->
            <section class="section2">
                <div class="container file-upload">
                    <img class='fit-picture' src={{ img_path }} width='50%' alt="예측레이블이미지"><br>
                </div><br><br>
            <!-- info tab -->
                <!-- tab container -->
                <div class="container">
                    <!-- tab titles -->
                    <ul class="tabs">
                        <li class="tab-link current" data-tab="tab-1">현재식단의 영양성분</li>
                        <li class="tab-link" data-tab="tab-2">한끼 권장량별 성분</li>
                        <li class="tab-link" data-tab="tab-3">질병별 주의할 성분</li>
                        <li class="tab-link" data-tab="tab-4">경고메시지</li>
                    </ul>
                    <!-- tab contents -->
                    <div id="tab-1" class="tab-content current">
                    <!-- <canvas id="histogram"></canvas> -->
                        <p>섭취한 음식명 : {{ food_names }} </p>                               
                        <center>
                            {{ food_info | safe }}
                        </center>
                    </div>
                    <div id="tab-2" class="tab-content">
                        <canvas id="histogram"></canvas>
                        <p>기준선: 한끼 권장 영양소 섭취량</p>
                    </div>
                    <div id="tab-3" class="tab-content">
                        <div>
                            {{ dise_info | safe }}
                        </div>
                    </div>
                    <div id="tab-4" class="tab-content">
                        <p>{{ messege | safe }}</p>
                        <script>
                            alert('해윙');
                        </script> 
                    </div>
                </div><br>
            
                <button type="button" class="btn btn-secondary"><a href='/kakao' style="color: #ffffff">음식 사진 다시 올리기</a></button> &nbsp;&nbsp;
                <button type="button" class="btn btn-secondary"><a href='/his' style="color: #ffffff">지금까지 내 음식 섭취 역사 보기</a></button> &nbsp;&nbsp;
            </section>
        </center>
                   
        <script>
            const result_02 = spawn('python', ['function_args.py', '카레유', '20']); 
            result_02.stdout.on('data', (result)=>{ 
                console.log(result.toString());
            });
        </script>
        <section class="section3">
            <!-- tab script -->
            <script language="javascript" type="text/javascript">
                $(document).ready(function(){
        
                $('ul.tabs li').click(function(){
                    var tab_id = $(this).attr('data-tab');
    
                    $('ul.tabs li').removeClass('current');
                    $('.tab-content').removeClass('current');
    
                    $(this).addClass('current');
                    $("#"+tab_id).addClass('current');
                })
    
                })
            </script>
        </section>
        <!-- scripts -->
        <script type='text/javascript'>
            var ctx = document.getElementById('histogram');
            Chart.pluginService.register({
                afterDraw: function(chart) {
                    if (typeof chart.config.options.lineAt != 'undefined') {
                       var lineAt = chart.config.options.lineAt;
                        var ctxPlugin = chart.chart.ctx;
                        var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
                        var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];
                        // I'm not good at maths
                        // So I couldn't find a way to make it work ...
                        // ... without having the `min` property set to 0
                        if(yAxe.min != 0) return;
                        ctxPlugin.strokeStyle = "red";
                        ctxPlugin.beginPath();
                        lineAt = (lineAt - yAxe.min) * (100 / yAxe.max);
                        lineAt = (100 - lineAt) / 100 * (yAxe.height) + yAxe.top;
                        ctxPlugin.moveTo(xAxe.left, lineAt);
                        ctxPlugin.lineTo(xAxe.right, lineAt);
                        ctxPlugin.stroke();
                    }
                }
            });
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: ['에너지', '탄수화물', '당류', '지방', '단백질', '칼슘',
                                '인', '나트륨', '칼륨', '마그네슘', '철', '아연'],
                    datasets: [
                    {
                        label: '영양소 섭취량(%)',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{nutri_list}}
                    }]
                }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    responsive: true,
                    title: { 
                        display: true, 
                        text: '한끼 영양소 섭취량', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    }
                } 
            });
        </script>
        <script type='text/javascript'>
            var ctx2 = document.getElementById('histogram2');
            var chart2 = new Chart(ctx2, {
                // The type of chart we want to create
                type: 'bar',
                // The data for our dataset
                data: { labels: ['에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)', '칼슘(mg)',
                                '인(mg)', '나트륨(mg)', '칼륨(mg)', '마그네슘(mg)', '철(mg)', '아연(mg)'],
                    datasets: [
                    {
                        label: '영양소 섭취량(%)',
                        backgroundColor: [ 'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)', 
                                        'rgba(255, 99, 132, 0.5)', 'rgba(54, 162, 235, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(75, 192, 192, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(255, 159, 64, 0.5)'],
                        borderColor: ['rgb(255, 99, 132,1.5)', 'rgba(54, 162, 235, 1.5)', 'rgba(255, 206, 86, 1.5)', 'rgba(75, 192, 192, 1.5)', 'rgba(153, 102, 255, 1.5)', 'rgba(255, 159, 64, 1.5)'], 
                        data: {{nutri_list}}
                    }]
                }, 
                // Configuration options go here
                options: {
                    lineAt: 100,
                    responsive: true,
                    title: { 
                        display: true, 
                        text: '일일 영양소 섭취량', 
                        fontSize: 30, 
                        fontColor: 'rgba(107, 102, 255, 1)' 
                    },
                    legend: {
                        labels: {
                            fontColor: 'rgba(83, 51, 237, 1)',
                            fontSize: 15 } 
                        },
                    scales: {
                        xAxes: [{
                            ticks: {
                                fontColor: 'rgba(27, 163, 156, 1)',
                                fontSize: 15
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: 'rgba(246, 36, 89, 1)',
                                fontSize: 15
                            } 
                        }] 
                    }
                } 
            });
        </script>
    </body>
</html>