/* Tag */
body {
	font-family: 'Gowun Dodum';
	/* background-image: url('../img/korean_food.jpg'); */
	background-repeat: no-repeat;
	background-position: center;
	background-color: #131313f3;
	background-blend-mode: lighten;
	background-attachment: fixed;
	background-size: 900px, 1200px;
}
a {
	text-decoration-line : none;
}

/* navbar */
.navbar-ligth {
	width: 100%;
	height: 100%;
	background-color: #fcd6f9;
	font-family: 'Malgun Gothic';
	font-size: 20px;
}
.btn-sm {
	width: 110px;
	background-color:rgb(255, 115, 197)
}

/* audio */
audio { 
	width: 200px; 
}

/* 제목 */
.title {
	font-family: 'Gowun Dodum';
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	color: #fff9fe;
}
.subtitle {
	font-family: 'Gowun Dodum';
	font-size: medium;
	line-height: 1.3;
	text-align: center;
	color: #ffe1fc;
}
.section {
	margin-top: 30px;
}

/* 컨테이너 */
.main-container {
	font-family: 'Gowun Dodum';
	background-color: rgba(255, 169, 244, 0.9);
	width: 80%;
	border-radius: 10px;
	border: solid 2px #a1a1a1;
	/* color: #fff */
	padding: 2% 5%;
	/* margin: 0 auto */
	/* width: 600px; */
}
.container{
	width: 80%;
	/* margin: 0 auto; */
}

/* 탭 */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #ffffff;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}
ul.tabs li.current{
	background: #ededed;
	color: #222;
}
.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}
.tab-content.current{
	display: inherit;
}

/* checkbox */
.chk_box {
	font-family: 'Malgun Gothic';
	font-size: 25px;
}
.disease_chk {
	border: 2px solid #ffffff;
	line-height: 40px;
	height: 100px;
	width: 200px;
}

/* 테이블 */
table.dataframe {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	margin : 20px 10px;
  }
  table.dataframe th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #ccc;
  }
  table.dataframe td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #ccc;
  }

/* 파일업로드 */
.file-upload {
	/* width: 914px; */
	/* height: 400px; */
	border-radius: 10px;
	border: solid 1px #f6f7fa;
	/* background-color: #aaa9a875; */
	background-image: url('../img/korean_food.jpg');
	background-color: #3d3d3de8;
	background-blend-mode: overlay;
	padding: 5%;
	margin: 0 auto
	/* width: 600px;	 */
}
.file-upload-content {
	display: none;
	text-align: center;
}
.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}
.image-upload-wrap {
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px
		#35465d;
	background-color:
		#ffffff;
}
.image-upload-wrap:hover {
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px
		#35465d;
	background-color:
		#ffd7fa;
}
.image-dropping {
	background-color: #ff0000;
	border: 2px dashed #fff;
}
.image-title-wrap {
	padding: 0 15px 15px;
	color: #222;
}

/* 이미지 삭제 */
.drag-text {
	text-align: center;
}
.drag-text h3 {
	width: 50%;
	font-weight: 100;
	text-transform: uppercase;
	color: #15824b;
	font-family: 'Gowun Dodum';
	font-size: 1.5rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
}
.file-upload-image {
	max-height: 400px;
	margin: auto;
	padding: 0;
	border: 2px solid #ff7bff;
	border-radius: 10px;
	/* border-width: thick; */
}
.fit-picture {
	max-height: 400px;
	margin: auto;
	border: 2px solid #ff7bff;
}
.remove-image {
	width: 200px;
	margin: 0;
	color: #fff;
	background: #cd4535;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #b02818;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}
.remove-image:hover {
	background: #c13b2a;
	color: #fff;
	transition: all 0.2s ease;
	cursor: pointer;
}
.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 20px;
  }
	.navbar-brand {
		font-size: 2rem;
	}
}
.upload-text {
	width: 50%;
	font-family: 'Gowun Dodum';
	font-size: 1.6 rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
}

